---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import ChatBubble from '../components/ChatBubble.astro';
import Footer from '../components/Footer.astro';
import { IoLogoGithub, IoLogoReddit, IoLogoDiscord } from 'react-icons/io5';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
      <Content>
        <div class="w-full flex justify-center p-12">
          <img class="w-56 rounded-full border-4 border-zinc-600" src="https://drive.google.com/uc?export=view&id=1cBs5csvbqjII6RKvWXpwXeDpEqmHKTPN" alt="profile" />
        </div>
        <div class="flex flex-col gap-2">
          <ChatBubble isLeft="true">What should I call you?</ChatBubble>
          <ChatBubble isLeft="false">You can call me Void.</ChatBubble>
          <ChatBubble isLeft="true">Alright. What do you do for a living?</ChatBubble>
          <ChatBubble isLeft="false">I am a Software Developer.</ChatBubble>
          <ChatBubble isLeft="true">Oh! What is your area of expertise?</ChatBubble>
          <ChatBubble isLeft="false">I work as a Web Developer for my day job.</ChatBubble>
          <ChatBubble isLeft="false">And I develop other softwares as a hobby.</ChatBubble>
          <ChatBubble isLeft="true">That's really cool!</ChatBubble>
          <ChatBubble isLeft="true">Which programming languages are you familiar with?</ChatBubble>
          <ChatBubble isLeft="false">Well, I do work with JS/TS everyday.</ChatBubble>
          <ChatBubble isLeft="false">But other than that, I have learnt a few.</ChatBubble>
          <ChatBubble isLeft="false">Go, Lua, Python, POSIX Shell, and C.</ChatBubble>
          <ChatBubble isLeft="true">That's nice. Are you learning anything new currently?</ChatBubble>
          <ChatBubble isLeft="false">Nothing yet.</ChatBubble>
          <ChatBubble isLeft="false">But I have a few languages in mind.</ChatBubble>
          <ChatBubble isLeft="true">Oh! Which are those?</ChatBubble>
          <ChatBubble isLeft="false">Rust, PHP and C++.</ChatBubble>
          <ChatBubble isLeft="true">Which is your best project yet?</ChatBubble>
          <ChatBubble isLeft="false">Currently my favourite project is a Neovim plugin that I authored.</ChatBubble>
          <ChatBubble isLeft="false">It is a simplified Note taking plugin to take notes in markdown format.</ChatBubble>
          <ChatBubble isLeft="true">So that means Neovim is your preferred Text Editor.</ChatBubble>
          <ChatBubble isLeft="false">Exactly. I do use VSCode while working since my teammates use it.</ChatBubble>
          <ChatBubble isLeft="false">But for all other things, I use Neovim.</ChatBubble>
          <ChatBubble isLeft="true">Cool. So how can I contact you?</ChatBubble>
          <ChatBubble isLeft="false">I'll attach some social links below.</ChatBubble>
          <ChatBubble isLeft="false">You can reach me through them.</ChatBubble>
        </div>
        <hr class="border-top border-zinc-400 my-4"/>
        <h2 class="text-xl font-semibold text-center underline underline-offset-4">Contact me</h2>
        <div class="w-full flex justify-center">
          <a class="m-4 text-4xl hover:text-orange-400" href="https://github.com/serenevoid/" target="_blank">
            <IoLogoGithub />
          </a>
          <a class="m-4 text-4xl hover:text-orange-400" href="https://www.reddit.com/user/shynerd089" target="_blank">
            <IoLogoReddit />
          </a>
          <a class="m-4 text-4xl hover:text-orange-400" href="https://discord.com/users/1096022869915471893" target="_blank">
            <IoLogoDiscord />
          </a>
        </div>
      </Content>
		</main>
		<Footer />
	</Body>
</html>

