---
import BaseHead from '../components/BaseHead.astro';
import BlogCard from '../components/BlogCard.astro';
import Header from '../components/Header.astro';
import MastHead from '../components/MastHead.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="sm:pt-[64px]">
      <MastHead />
      <Content className="px-4">
        <section>
          <p class="mb-8 indent-4">
            Hello my curious friend. I am pretty sure you reached this home page 
            for checking out my posts or my projects and I really appreciate 
            it. I hope you find some valuable gems in here which will help you
            in your journey to become a good developer.
          </p>
        </section>
        <div class="flex items-center gap-2">
          <h2 class="text-xl font-semibold">Recent blog posts</h2>
        </div>
        <hr class="border-top border-zinc-400 my-4"/>
        <BlogCard blogs={blogs.slice(0, 4)} />
      </Content>
		</main>
		<Footer />
	</Body>
</html>
