---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="mt-4 sm:pt-[64px]">
      <Content className="px-4">
        <h2 class="text-3xl font-semibold">Projects</h2>
        <hr class="border-top border-zinc-400 my-4"/>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <li class="text-center mb-4">
              <img class="border border-slate-300 dark:border-zinc-700 rounded-xl object-fill" src="https://opengraph.githubassets.com/849882f615cc704aa0e0f76eb5178fbd770e46f22d00b18de8806b0147567fec/serenevoid/kiwi.nvim" alt="Thumbnail"/>
              <a href="https://github.com/serenevoid/kiwi.nvim">
                <div class="mt-3 text-xl">kiwi.nvim</div>
                <div class="opacity-70">A lightweight note-taking plugin for Neovim</div>
              </a>
            </li>
            <li class="text-center mb-4">
              <img class="border border-slate-300 dark:border-zinc-700 rounded-xl object-fill" src="https://opengraph.githubassets.com/849882f615cc704aa0e0f76eb5178fbd770e46f22d00b18de8806b0147567fec/serenevoid/boarder" alt="Thumbnail"/>
              <a href="https://github.com/serenevoid/boarder">
                <div class="mt-3 text-xl">Boarder</div>
                <div class="opacity-70">A 4chan archiver tool</div>
              </a>
            </li>
            <li class="text-center mb-4">
              <img class="border border-slate-300 dark:border-zinc-700 rounded-xl object-fill" src="https://opengraph.githubassets.com/849882f615cc704aa0e0f76eb5178fbd770e46f22d00b18de8806b0147567fec/serenevoid/booking-server" alt="Thumbnail"/>
              <a href="https://github.com/serenevoid/booking-server">
                <div class="mt-3 text-xl">Seat Booking Server</div>
                <div class="opacity-70">A simple Seat booking server with Go and Postgres</div>
              </a>
            </li>
            <li class="text-center mb-4">
              <img class="border border-slate-300 dark:border-zinc-700 rounded-xl object-fill" src="https://opengraph.githubassets.com/849882f615cc704aa0e0f76eb5178fbd770e46f22d00b18de8806b0147567fec/serenevoid/count-api" alt="Thumbnail"/>
              <a href="https://github.com/serenevoid/count-api">
                <div class="mt-3 text-xl">Count API</div>
                <div class="opacity-70">A clone of the Count API service without Redis</div>
              </a>
            </li>
            <li class="text-center mb-4">
              <img class="border border-slate-300 dark:border-zinc-700 rounded-xl object-fill" src="https://opengraph.githubassets.com/849882f615cc704aa0e0f76eb5178fbd770e46f22d00b18de8806b0147567fec/serenevoid/random-chat-bot" alt="Thumbnail"/>
              <a href="https://github.com/serenevoid/random-chat-bot">
                <div class="mt-3 text-xl">Random Chat Bot</div>
                <div class="opacity-70">A discord bot that enables two strangers to chat anonymously within discord</div>
              </a>
            </li>
            <li class="text-center mb-4">
              <img class="border border-slate-300 dark:border-zinc-700 rounded-xl object-fill" src="https://opengraph.githubassets.com/849882f615cc704aa0e0f76eb5178fbd770e46f22d00b18de8806b0147567fec/serenevoid/DocScan" alt="Thumbnail"/>
              <a href="https://github.com/serenevoid/DocScan">
                <div class="mt-3 text-xl">DocScan - Document Scanner</div>
                <div class="opacity-70">A simple Document scanner made with Python</div>
              </a>
            </li>
          </ul>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
