<div id="analytics" class="hidden">
  <form target="iframe" method="post" action="https://docs.google.com/forms/d/e/1FAIpQLSfQLW-njs_qiQTSVafurO1j5MVtFpmK2TjhWcrXtxMkkoqefw/formResponse">
    <input id="form_timezone" name="entry.417282401" />
    <input id="form_URL" name="entry.291024926" />
    <button id="form_submit" name="submit" type="submit"></button>
  </form>
  <iframe id="redirect_iframe" name="iframe"></iframe>
</div>
