---
const { isLeft } = Astro.props
---

<li class={`w-full flex ${ (isLeft == "true") ? 'justify-start pr-12' : 'justify-end pl-12'}`}>
  <div class={`${ (isLeft == "true") ? 'bg-orange-200 dark:bg-zinc-800' : 'bg-orange-300 dark:bg-zinc-700'} px-3 py-2 rounded-xl transition-colors`}>
    <slot />
  </div>
</li>
