---
const today = new Date();
---

<footer class="text-zinc-500 p-4 text-center">
	&copy; {today.getFullYear()}  <a href="https://serenevoid.github.io/">Serene Void</a>. All rights reserved.
</footer>
