---
import HeaderLink from './HeaderLink.astro';
import ThemeToggler from './ThemeToggler.astro';
import DropDown from './DropDown.astro';
import { SITE_TITLE } from '../consts';
---

<header id="navbar" class="fixed w-full sm:top-0 sm:bottom-auto top-auto bottom-0 px-4 py-2 sm:p-0 z-20">
  <div class="mx-auto max-w-3xl p-2 bg-orange-50 dark:bg-zinc-900 rounded-md sm:rounded-none sm:border-0 border border-zinc-400 dark:border-zinc-700 duration-400 transition-colors">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="flex items-center font-semibold p-1 font-mplus text-lg">
          <img class="w-8 p-1" src="/favicon.ico" alt="favicon" />
          <span class="p-1">{SITE_TITLE}</span>
        </h2>
      </a>
      <div class="items-center gap-6 font-mplus hidden md:flex">
        <HeaderLink href="/games">Games</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div class="flex-1"></div>
      <ThemeToggler />
      <div class="flex md:hidden">
        <DropDown />
      </div>
    </nav>
  </div>
</header>

<script>
var prevScrollpos = window.scrollY;
window.onscroll = function() {
  if (window.innerWidth < 640) {
    var currentScrollPos = window.scrollY;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.bottom = "0em";
    } else {
      document.getElementById("navbar").style.bottom = "-4em";
    }
    prevScrollpos = currentScrollPos;
  }
}
</script>
