---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="fixed w-full pq2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <h2 class="font-semibold p-2 font-mplus text-lg">
        {SITE_TITLE}
      </h2>
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div class="flex-1">
      </div>
    </nav>
  </div>
</header>
