---
---
<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <img
      class="absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-20"
      src="https://i.imgur.com/YO7Dp5c.jpeg"
      alt="backdrop"
    />
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="text-5xl mb-4 font-mplus font-medium">The Serene <span class="text-orange-500">Void</span></div>
    <div class="text-xl">A humble developer's knowledge vault</div>
  </div>
</section>
