---
---
<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <img
      class="absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-30"
      src=""
    />
  </div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="text-4xl mb-4 font-mplus font-medium text-white">The Serene <span class="text-orange-500">Void</span></div>
    <div class="text-sm text-white">A humble developer's knowledge vault</div>
  </div>
</section>
