{{- /* Head custom content area start */ -}}
{{- /* Insert any custom code (web-analytics, resources, etc.) - it will appear in the section of every page. */ -}}
{{- /* Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<script>
    if (window.location.hostname != "localhost") {
        var namespace = window.location.hostname.split(".").filter(String).join("_");
        var key = window.location.pathname.split("/").filter(String).join("_");
        if (!key) key = "home";
        url = "https://api.countapi.xyz/hit/" + namespace + "/" + key
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", url, false);
        xmlHttp.send(null);
    }
</script>
