<div class="dashboard-container">
    <table id="table">
        <tr>
            <th>
                <h3>Pages</h3>
            </th>
            <th>
                <h3>Views</h3>
            </th>
        </tr>
        {{ range .Site.RegularPages }}
        <tr>
            <td>{{ .File.Path }}</td>
            <td></td>
        </tr>
        {{ end }}
    </table>
</div>

<style>
    .dashboard-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    table {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
</style>

<script>
    var table = document.getElementById("table");
    var numberOfRows = table.rows.length;
    var namespace = window.location.hostname.split(".").filter(String).join("_");
    for (let i = 1; i < numberOfRows; i++) {
        let post_name = table.rows[i].children[0].innerText.replaceAll(".md", "").replaceAll("/", "_");
        var xhttpviews = new XMLHttpRequest();
        xhttpviews.onload = function () {
            if (this.status != 200) return;
            var value = JSON.parse(this.response).value
            table.rows[i].children[0].innerText = `${post_name.replaceAll("post_","")}`;
            table.rows[i].children[1].innerText = `${value}`;
        };
        var url = "https://api.countapi.xyz/get/" + namespace + "/" + post_name + "_view";
        xhttpviews.open("GET", url, true);
        xhttpviews.send();
    }
</script>
